<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h1 class="text-white text-xl font-semibold">Book Borrowing App</h1>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Dashboard</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="flex space-x-4">
          <a
            mat-raised-button
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 mx-2 text-sm font-medium"
            >Register</a
          >
        </div>
        <div class="flex space-x-4">
          <a
            mat-raised-button
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 mx-2 text-sm font-medium"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
