<nav class="bg-sky-400">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h1 class="text-slate-800 text-2xl font-semibold">
            Book Borrowing App
          </h1>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              class="text-purple-50 hover:text-purple-950 px-3 py-2 text-sm font-medium"
              >Dashboard</a
            >
            <a
              routerLink="/bikestore"
              routerLinkActive="active"
              class="text-purple-50 hover:text-purple-950 px-3 py-2 text-sm font-medium"
              >BikeStore</a
            >
          </div>
        </div>
      </div>
      <!-- login / logout button space -->
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        @if(authUser() !== undefined) {
        <!-- return request & add car only for admin -->
        @if(isAdminUser()){
        <div class="flex space-x-4">
          <a
            routerLink="/add-bike"
            routerLinkActive="active"
            class="text-purple-50 hover:text-purple-950 px-2 py-2 text-sm font-medium"
            >Add Bike</a
          >
          <a
            routerLink="#"
            routerLinkActive="active"
            class="text-purple-50 hover:text-purple-950 px-2 py-2 text-sm font-medium"
            >Return Request</a
          >
        </div>
        }@else {
        <div class="flex space-x-4">
          <a
            routerLink="#"
            routerLinkActive="active"
            class="text-purple-50 hover:text-purple-950 px-2 py-2 text-sm font-medium"
            >Request Return</a
          >
        </div>
        } }

        <!-- User name -->
        @if(authUser() !== undefined){
        <p class="text-sm font-medium text-purple-950 mx-2">
          Hello {{ authUser()?.userName }}
        </p>
        <!-- profile menu  -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Profile Section"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <!-- profile menu dropdown -->
        <mat-menu #menu="matMenu">
          <!-- profile -->
          <button mat-menu-item>
            <mat-icon>manage-account</mat-icon>
            <span>Profile</span>
          </button>
          <!-- all agreement -->
          <button mat-menu-item>
            <mat-icon>handshake</mat-icon>
            <span>All Agreement</span>
          </button>
          <!-- all bikes for admin only -->
          @if(isAdminUser()){
          <button mat-menu-item>
            <mat-icon>moped</mat-icon>
            <span>All Bikes</span>
          </button>
          }
          <!-- logout -->
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        }@else {
        <!-- Login & Register section -->
        <!-- Login -->
        <div class="flex space-x-4">
          <a mat-stroked-button routerLink="/login" class="mx-2">Login</a>
        </div>
        <!-- Register -->
        <div class="flex space-x-4">
          <a
            mat-raised-button
            color="accent"
            routerLink="/register"
            class="mx-2"
            >Register</a
          >
        </div>
        }
      </div>
    </div>
  </div>
</nav>
