<nav class="bg-sky-400">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <h1 class="text-slate-800 text-2xl font-semibold">
            Book Borrowing App
          </h1>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a
              routerLink="/dashboard"
              routerLinkActive="active"
              class="text-purple-50 hover:text-purple-950 px-3 py-2 text-sm font-medium"
              >Dashboard</a
            >
            <a
              routerLink="/bikestore"
              routerLinkActive="active"
              class="text-purple-50 hover:text-purple-950 px-3 py-2 text-sm font-medium"
              >BikeStore</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="flex space-x-4">
          <a mat-stroked-button routerLink="/login" class="mx-2">Login</a>
        </div>
        <div class="flex space-x-4">
          <a
            mat-raised-button
            color="accent"
            routerLink="/register"
            class="mx-2"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
