<main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-3">
  <!-- Image -->
  <div>
    <img
      src="./../../../../assets/bannar image.jpg"
      alt="heading image"
      class="object-cover h-72 w-full"
    />
  </div>

  <!-- Heading -->
  <div class="text-center my-5">
    <h1 class="text-3xl font-bold text-slate-700">All Books</h1>
  </div>

  <!-- right most sort functionality -->

  <!-- List of books -->
  @if (isLoading) {
  <app-loading></app-loading>
  } @else {
  <div class="w-full max-h-screen mb-5">
    <mat-grid-list cols="5">
      @for (item of availableBooks; track $index) {
      <mat-grid-tile>
        <app-book [book]="item"></app-book>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  }
</main>
