<main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-3">
  <!-- Heading -->
  <section class="text-center my-3">
    <h1
      class="text-3xl font-bold text-slate-600 underline underline-offset-4 decoration-auto decoration-purple-600"
    >
      Bike Details
    </h1>
  </section>

  <!-- loading  -->
  @if (isLoading()) {
  <app-loading></app-loading>
  }@else{
  <!-- bike details -->
  <section class="my-5 px-5 w-full">
    <div
      class="my-5 w-full flex flex-row border-2 border-slate-300 bg-slate-100 rounded-lg shadow-lg"
    >
      <!-- bike cover image -->
      <div class="w-2/5">
        <img
          [src]="bikeDetails()?.coverImage"
          alt="bike cover image"
          class="object-cover h-80 w-full"
        />
      </div>
      <!-- maker & model -->
      <div class="w-2/5 my-5">
        <h2 class="my-2 text-3xl font-semibold text-slate-700">
          <span>
            {{ bikeDetails()?.maker }}
          </span>
          <span class="mx-1 text-purple-500">|</span>
          <span class="text-2xl text-slate-500">
            {{ bikeDetails()?.model }}</span
          >
        </h2>
        <!-- fuel economy -->
        <h2 class="text-lg font-medium text-slate-600">
          Average: {{ bikeDetails()?.fuelEconomy }} kmpl
        </h2>
        <!-- fuel capacity -->
        <h2 class="text-lg font-medium text-slate-600">
          Tank capacity: {{ bikeDetails()?.fuelCapacity }} litter
        </h2>
        <!-- late fees per day -->
        <h2 class="text-lg font-medium text-slate-600">
          <span
            >Late fee: {{ bikeDetails()?.lateFeesPerDay | currency : "₹" }} per
            day</span
          >
          <span>
            <mat-icon
              matTooltip="Late fee applied for the days after your booking end."
              fontIcon="info"
              class="text-sm mx-1 text-gray-500"
            ></mat-icon>
          </span>
        </h2>
        <!-- last update -->
        <h2 class="text-lg font-medium text-slate-600">
          Last updated on: {{ bikeDetails()?.lastUpdated | date : "medium" }}
        </h2>
      </div>
      <!-- rent now -->
      <div class="1/5 text-center my-auto mx-auto">
        <!-- bike rating -->
        <div class="text-left mx-1">
          <h1 class="font-medium text-gray-500">
            <span>{{ bikeRatingDetails()?.averageRating }} ⭐</span>
            <span class="mx-2">|</span>
            <span>{{ bikeRatingDetails()?.numberOfRating }} ratings</span>
          </h1>
        </div>

        <div class="h-44 p-5 bg-gray-200 rounded-md shadow-md mt-10">
          <h1 class="font-semibold text-indigo-500">
            {{ bikeDetails()?.currentBikeStatus }}
          </h1>
          <p class="text-lg my-1">
            <span class="font-medium">{{
              bikeDetails()?.rentalPricePerDay | currency : "₹"
            }}</span>
            per day
          </p>
          <p class="text-slate-500 font-medium my-1">Want to ride</p>
          <button mat-raised-button color="primary" class="my-2">
            <span class="mx-2 text-lg">Rent Now</span>
          </button>
        </div>
      </div>
    </div>
    <!-- description -->
    <div class="my-5">
      <h1 class="text-xl font-medium text-slate-600">Description:</h1>
      <p class="mx-5 my-2">{{ bikeDetails()?.description }}</p>
    </div>

    <!-- Available Images -->
    @if (bikeDetails()?.images) {
    <div class="my-5">
      <h1 class="text-xl font-medium text-slate-600">Available Bike Images:</h1>
      <div class="flex flex-row">
        @for (item of bikeDetails()?.images; track $index) {
        <div class="m-5">
          <img [src]="item" alt="Bike image" class="object-fill h-56 w-full" />
        </div>
        }
      </div>
    </div>
    }

    <!-- Reviews -->
    @if (bikeRatingDetails()?.bikeRatings) {
    <div class="my-5">
      <h1 class="text-xl font-medium text-slate-600">Bike Reviews:</h1>
      <div class="flex flex-col">
        @for (item of bikeRatingDetails()?.bikeRatings; track $index) {
        <div class="my-2">
          <p>User: {{ item.userId }}</p>
          <p>Rating: {{ item.rating }} ⭐</p>
          <p>Review: {{ item.review }}</p>
        </div>
        }@empty {
        <h3 class="my-2 mx-5 text-gray-600">No Reviews Found</h3>
        }
      </div>
    </div>
    }
  </section>
  }
</main>
