<main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-3">
  <!-- Heading -->
  <section class="text-center my-3">
    <h1
      class="text-3xl font-bold text-slate-600 underline underline-offset-4 decoration-auto decoration-purple-600"
    >
      Travel The World
    </h1>
  </section>

  <!-- Search bikes -->
  <div class="flex flex-row mx-5">
    <!-- Maker -->
    <div class="w-1/5">
      <mat-form-field>
        <mat-label>Bike Maker</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex. Enfield"
          [value]="maker()"
          (keyup)="onMakerChange($event)"
        />
      </mat-form-field>
    </div>
    <!-- Model -->
    <div class="w-1/5">
      <mat-form-field>
        <mat-label>Bike Model</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex. Classic"
          [value]="model()"
          (keyup)="onModelChange($event)"
        />
      </mat-form-field>
    </div>
    <!-- Price -->
    <div class="w-1/5">
      <mat-form-field>
        <mat-label>Bike Price</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ex. 1000"
          [value]="price()"
          (keyup)="onPriceChange($event)"
        />
      </mat-form-field>
    </div>
    <!-- Submit and Reset -->
    <div class="w-1/5 my-auto">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isButtonEnable()"
        (click)="onSearch()"
      >
        Search
      </button>
      <button
        mat-raised-button
        color="warn"
        [disabled]="!isButtonEnable()"
        (click)="onReset()"
        class="mx-2"
      >
        Reset
      </button>
    </div>
  </div>

  <!-- List all bikes -->
  @if (isLoading()) {
  <app-loading></app-loading>
  } @else {
  <section class="w-full mb-5">
    <!-- loop all bikes -->
    @for (item of availableBikes(); track $index) {
    <section
      class="mx-5 mb-3 border-2 border-slate-300 rounded-md flex shadow-md bg-slate-100"
    >
      <!-- cover image -->
      <div class="w-1/3">
        <img
          [src]="item.coverImage.trim()"
          alt="bike cover image"
          class="object-cover h-48 w-full rounded-l-sm"
        />
      </div>
      <!-- maker, model, price -->
      <div class="w-1/3 my-2 px-5">
        <h2 class="my-2 text-3xl font-bold text-slate-700">
          {{ item.maker }} <span class="mx-2 text-2xl">|</span>
          <span class="text-xl text-slate-500">{{ item.model }}</span>
        </h2>
        <h2 class="my-2 text-lg font-medium text-slate-600">
          Average: {{ item.fuelEconomy }} kmpl
        </h2>
        <h2 class="font-medium text-green-500">
          👉 Free helmet included | Free cancellation
        </h2>
        <h2 class="font-medium text-lg text-green-600">
          👉 No more hidden charges
        </h2>
      </div>
      <!-- View details -->
      <div class="w-1/3 my-auto">
        <div
          class="mx-auto w-1/2 bg-gray-200 rounded-md p-5 text-center shadow-md"
        >
          <!-- bike status -->
          <p class="font-semibold text-indigo-500">
            {{ item.currentBikeStatus }}
          </p>
          <!-- rent per day -->
          <p class="text-lg my-2">
            {{ item.rentalPricePerDay | currency : "₹" }} per day
          </p>
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/bike-details', item.id]"
          >
            <span class="mx-1 text-lg">View Details</span>
          </button>
        </div>
      </div>
    </section>
    } @empty {
    <div class="m-10">
      <h2 class="text-2xl text-indigo-500 font-medium">No Bikes Found!</h2>
    </div>
    }
  </section>
  }
</main>
