<main class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-3">
  <!-- Heading -->
  <section class="text-center my-3">
    <h1
      class="text-3xl font-bold text-slate-600 underline underline-offset-4 decoration-orange-200"
    >
      Travel The World
    </h1>
  </section>

  <!-- Search bikes -->

  <!-- List all bikes -->
  @if (isLoading()) {
  <app-loading></app-loading>
  } @else {
  <section class="w-full max-h-screen mb-5">
    <!-- loop all bikes -->
    @for (item of availableBikes(); track $index) {
    <section class="mx-5 my-3 border-2 border-gray-300 rounded-md flex">
      <!-- cover image -->
      <div class="w-1/3">
        <img
          [src]="item.coverImage"
          alt="bike cover image"
          class="object-cover h-48 w-full"
        />
      </div>
      <div class="w-1/3 mt-5">
        <h2 class="my-2 text-2xl font-bold text-slate-700">{{ item.maker }}</h2>
        <h2 class="my-3 text-xl text-slate-500">
          {{ item.model }}
        </h2>
        <h2 class="my-2 text-lg text-slate-600">
          Avg {{ item.fuelEconomy }} kmpl
        </h2>
      </div>
      <div class="w-1/3 my-auto">
        <div class="mx-auto w-1/2 bg-gray-200 rounded-md p-5 text-center">
          <p class="font-semibold text-indigo-600">
            {{ item.currentBikeStatus }}
          </p>
          <p class="text-lg my-2">
            {{ item.rentalPricePerDay | currency : "₹" }} per day
          </p>
          <button mat-raised-button color="primary">
            <span class="mx-3 text-lg">Rent Now</span>
          </button>
        </div>
      </div>
    </section>
    }
  </section>
  }
</main>
